@import '../../../style/variables';

.contacts__wrapper {
  position: relative;
  margin-top: 2.6rem;
  margin-bottom: 1.7rem;
  padding: 0 22rem;

  &::after{
    content: '';
    position: absolute;
    top: -10%;
    right: 0;
    width: 22rem;
    height: 100%;
    transform: scale(0.9);
    background-image: url("../../../images/contacts/girl-3-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  > div {
    margin-bottom: 4.3rem;
  }

  ymaps {
    border-radius: 1.4rem;
  }

  a {
    margin-bottom: 1.8rem;
  }

  @media screen and (max-width: 1549.98px){
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 0 2rem;
    &::after {
      background-image: none;
    }
  }

  @media screen and (max-width: 767.98px) {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
  }

  > a {
    font-size: 2.6rem;
    line-height:3rem;
  }
}

.contacts__address {
  margin-bottom: 1rem;
  color:$black;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.2rem;
  font-style: normal;

  @media screen and (max-width: 767.98px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}



.contacts__info {
  color: $black;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8rem;
}