@import "../../../src/style/variables";

.stock__card {
  background-color: #FFF;
  box-shadow: 0 .4rem 2.4rem rgba(0, 0, 0, 0.06);
  border-radius: 1.4rem;
}

.stock__img {
  height: 13.8rem;
  object-fit: cover;
}

.stock__info {
  padding: 1.3rem .7rem 2rem 2rem;

  button {
    padding: .8rem 3.4rem;
    color:#473E43;

    &:hover {
      color:#FFF;
    }
  }
}

.stock__title {
  margin-bottom: .7rem;
  color:$black;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
}

.stock__descr {
  margin-bottom: 2rem;
  color:$light-grey;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
}