@import '../../style/variables';

.cart__header {
  padding: 1.4rem 22rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1549.98px) {
    padding: 2rem;
  }

  @media screen and (max-width: 767.98px) {
    padding: 1rem;
    flex-direction: column;
  }
}

.header__top{
  @media screen and (max-width: 1549.98px) {
    > div {
      display: none;
    }
  }

  @media screen and (max-width: 767.98px) {
    > div {
      display: block;
    }

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
  }
}