@import '../../../style/variables';

.button{
  padding: 4px 23px;
  background-color: $yellow;
  color: #FFF;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 200%;
  border-radius: 8px;
  text-align: center;
  transition: color .4s ease;
  &:hover {
    color: #473E43;
  }
}