@import '../../../src/style/variables';

.wrapper__card {
  width:calc((100% - 3.2rem * 3)/ 4);
  &:not(:nth-last-of-type(-n+4)) {
    margin-bottom: 4.9rem;
}
  &:not(:nth-of-type(4n)){
    margin-right: 3.2rem;
  }
}

.card__img {
  height: 25.3rem;
  margin-bottom: .8rem;
  object-fit: cover;
}


.card__title {
  margin-bottom: 1.4rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 2.8rem;
  color: $light-grey;
}

.card__descr {
  margin-bottom: 2.5rem ;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: $text-dark-grey;
}

.card__buy{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.2rem;
}