@import '../../../src/style/variables';

.delivery__section {
  padding: 5.6rem 22rem 7.4rem 22rem;
  background-color: $blue-grey;

  ymaps {
    //height: 32.2rem;
    border-radius: 1.4rem;
  }

  @media screen and (max-width: 1549.98px){
    padding: 4.2rem 2rem 5.2rem 2rem;
  }

  @media screen and (max-width: 767.98px){
    padding: 2.6rem 1rem;
  }
}

.delivery__title {
  margin-bottom: 6.3rem;
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.7rem;
  color:$yellow;
  text-align: center;

  @media screen and (max-width: 1549.98px){
    margin-bottom: 3rem;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  @media screen and (max-width: 767.98px){
    margin-bottom: 4.6rem;
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

.delivery__list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 3rem;
  margin-bottom: 3.2rem;

  @media screen and (max-width: 1549.98px) {
    padding: 0 9.5rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 5.8rem;
  }

  @media screen and (max-width: 767.98px) {
    padding: 0 2.5rem;
    grid-template-columns: repeat(1,1fr);
    row-gap: 4.3rem;
  }
}