@import '../../style/variables';

.header {
  padding: 1.3rem 22rem;
  margin-bottom: 1.7rem;

  @media screen and (max-width: 1549.98px) {
    padding: 2rem;
  }

  @media screen and (max-width: 767.98px) {
    padding: 1rem;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:1.4rem;

   & > button:first-of-type {
    margin-right: 2.1rem;
  }

  button:not(:first-of-type){
    display: none;
  }

  a:first-of-type {
    margin-right: 5.2rem;
  }

  @media screen and (max-width: 1549.98px) {
    margin-bottom: 0;
    a:first-of-type {
      margin-right: 18.5rem;
    }
     a:last-of-type {
       margin-right: 2.2rem;
     }

    & > button:first-of-type {
      margin-right: 0;
      display: none;
    }
    button:not(:first-of-type){
      margin-right: 2.1rem;
      display: block;
    }
  }

  @media screen and (max-width: 767.98px) {
    a:last-of-type {
      display: none;
    }

    button:not(:first-of-type){
      display: none;
    }
  }
}

.wrapper__delivery {
  display: flex;
  flex-direction: column;
  margin-right: 17rem;

  @media screen and (max-width: 1549.98px) {
    display: none;
  }
}

.delivery__info_top {
  margin-bottom: .9rem;
  & > span {
    color: #231F20;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 2.1rem;
    margin-right: .6rem;
    background-color: inherit;
  }

  span+span{
    margin-right: 0;
    color:$yellow;
  }
}

.delivery__info_bot {
  display: flex;

  .delivery__company,
  .delivery__time{
    span {
      position: relative;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.6rem;
      margin-right: 1.8rem;
    }
    span:last-of-type{
      margin-right: 0;
    }

    span:first-of-type::after{
      content:'';
      background-color: #FF2E65;
      position: absolute;
      height: .4rem;
      width: .4rem;
      top: .7rem;
      border-radius: 50%;
      right: -1.1rem;
    }
  }

  .delivery__company{
    margin-right: 2rem;
    & img{
      margin-right: .7rem;
    }

    span:last-of-type{
      margin-right: .4rem;
    }

    svg{
      transform: translateY(0.1rem);
    }
  }
}

.header__bot{
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1549.98px) {
    display: none;
  }
}
