@import '../../style/variables';

.header {
  padding: 1.3rem 22rem;
  margin-bottom: 1.7rem;

  @media screen and (max-width: 1549.98px) {
    padding: 2rem;
  }

  @media screen and (max-width: 767.98px) {
    padding: 1rem;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:1.4rem;

  button:not(:first-of-type){
    display: none;
  }

  @media screen and (max-width: 1549.98px) {
    margin-bottom: 0;
    button:not(:first-of-type){
      display: block;
    }
  }

  @media screen and (max-width: 767.98px) {
    button:not(:first-of-type){
      display: none;
    }
    //button:nth-of-type(2){
    //  display: none;
    //}
  }
}

.tel{
  color: $yellow;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.2rem;
  transition: color .4s ease;

  &:hover{
    color:$dark-grey;
  }

  @media screen and (max-width: 1549.98px) {
    margin-right: 2.2rem;
  }

  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.button__call {
  margin-right: 2.8rem;
  padding: .7rem 2.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  border-radius: 2.8rem;
  background-color: $grey;
  color: $dark-grey;
  transition: all .4s ease;

  &:hover{
    background-color: $yellow;
    color:#231F20;
  }

  @media screen and (max-width: 1549.98px) {
    display: none;
  }
}

.wrapper__delivery {
  display: flex;
  flex-direction: column;
  margin-right: 17rem;

  @media screen and (max-width: 1549.98px) {
    display: none;
  }
}

.delivery__info_top {
  margin-bottom: .9rem;
  & > span {
    color: #231F20;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 2.1rem;
    margin-right: .6rem;
    background-color: inherit;
  }

  span+span{
    margin-right: 0;
    color:$yellow;
  }
}

.delivery__info_bot {
  display: flex;

  .delivery__company,
  .delivery__time{
    span {
      position: relative;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.6rem;
      margin-right: 1.8rem;
    }
    span:last-of-type{
      margin-right: 0;
    }

    span:first-of-type::after{
      content:'';
      background-color: #FF2E65;
      position: absolute;
      height: .4rem;
      width: .4rem;
      top: .7rem;
      border-radius: 50%;
      right: -1.1rem;
    }
  }

  .delivery__company{
    margin-right: 2rem;
    & img{
      margin-right: .7rem;
    }

    span:last-of-type{
      margin-right: .4rem;
    }

    svg{
      transform: translateY(0.1rem);
    }
  }
}

.header__bot{
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1549.98px) {
    display: none;
  }
}
