@import 'normalize';
@import 'reset';
@import 'variables';
@import 'swiper/swiper.min.css';
@import 'swiper/swiper-bundle.min.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');


html {
  font-size: 10px;
}

body{
  font-family: "Montserrat", sans-serif;
  background-color: $white;
}

.container{
  max-width: 1550px;
  margin: 0 auto;
}

.swiper {
  height: 312px;
  padding: 0 220px ;
}

.swiper-slide {
  opacity: 0.5 ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(0.85) translateX(-70px);
  transition: all .4s ease;
}

.swiper-slide-visible,
.swiper-slide-next {
  opacity: 1 ;
  transform: scale(1) translateX(0px);
}

.swiper-slide-prev {
  transform: scale(0.85) translateX(80px)
}

.swiper-button-prev,
.swiper-button-next {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: $orange;

  &::after{
    content: '';
    position: absolute ;
    width: 10px;
    height: 10px;
    border-top:2px solid #231F20;
    border-left: 2px solid #231F20;
    transition: border .4s ease;
    transform: rotate(-45deg);
  }

  &:hover::after{
    border-top:2px solid $white;
    border-left: 2px solid $white;
  }
}

.swiper-button-prev {
  left: 130px;
  &::after {
    left: 12px;
  }
}

.swiper-button-next {
  right: 130px;
  &::after {
    right: 12px;
    transform: rotate(135deg);
  }
}