@import '../../../style/variables';

.home__wrapper {
  margin-top: 3rem;
}

.wrapper__offers {
  position: relative;
  padding: 0 22rem;

  @media screen and (max-width: 1549.98px) {
    padding: 0 2rem;
  }

  @media screen and (max-width: 767.98px) {
    padding: 0 1rem;
  }


  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 23.8rem;
    height: 100%;
    background-image: url("../../../images/homepage/boy-bg.svg");
    background-repeat: no-repeat;
    z-index: -1;

    @media screen and (max-width: 1549.98px){
      opacity: 0.5;
    }
  }

  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 22rem;
    height: 33.5rem;
    background-image: url("../../../images/homepage/girl-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 1549.98px) {
      width: 7.1rem;
      height: 12.8rem;
      background-image: url("../../../images/homepage/small-girl-bg.png");
    }

    @media screen and (max-width: 767.98px) {
      bottom: -1.8rem;
      width: 7.1rem;
      height: 10rem;
      background-image: url("../../../images/homepage/very-small-girl-bg.png");
      z-index: -1;
    }
  }

}

.first__slider {
  background-image: url("../../../images/homepage/slide-odd-bg.png");
}

.second__slider {
  background-image: url("../../../images/homepage/slide-even-bg.png");
}

.third__slider {
  background-image: url("../../../images/homepage/slide-odd-bg.png");
}

.fourth__slider {
  background-image: url("../../../images/homepage/slide-even-bg.png");
}

