@import '../../../style/variables';


.first__slider {
  background-image: url("../../../images/slide-odd-bg.png");
}

.second__slider {
  background-image: url("../../../images/slide-even-bg.png");
}

.third__slider {
  background-image: url("../../../images/slide-odd-bg.png");
}

.fourth__slider {
  background-image: url("../../../images/slide-even-bg.png");
}

