@import '../../../style/variables';

.navbar{
  @media screen and (max-width: 767.98px){
    margin-bottom: 55px;
  }
}

.menu{
  display: flex;
  li:not(:last-of-type){
    margin-right: 20px;
  }

  @media screen and (max-width: 1549.98px){
    flex-direction: column;

    li:not(:last-of-type){
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}

.menu__link{
  color:$black;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 120%;
  transition: color .4s ease;
  &:hover{
    color:$yellow;
  }
}



