.new-products__section {
  padding: 0 220px;
}

.section__title {
  color:#231F20;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.9rem;
  margin-bottom: 33px;
}

.section__list {
  display: flex;
}