@import '../../../../src/style/variables';

.icon__menu{
  display: block;
  flex:0 0 39px;
  height: 27px;
  position: relative;
  background-color: #FFF;

  > span,
  &::before,
  &::after {
    content: '';
    right: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #686466;
    z-index: 9999;
    transition: all .4s ease;
  }

  &::before{
    top: 0;
  }

  &::after{
    bottom: 0;
  }

  > span{
    top:calc(50% - 1.5px)
  }
}

.icon__menu_close {
  > span {
    width: 0;
  }

  &::before{
    top:calc(50% - 1.5px);
    transform: rotate(-45deg);
  }

  &::after{
    bottom:calc(50% - 1.5px);
    transform: rotate(45deg);
  }
}

.hamburger__menu{
  position: absolute;
  top: 60px;
  right: 20px;
  padding: 19px 25px;
  border-radius: 5px;
  box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.1);
  z-index:100;

  > button {
    display: none;
  }

  > a{
    display: none;
  }


  @media screen and (max-width: 767.98px) {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0;
    background-color: $yellow;
    padding: 65px 0 31px;
  }


  .tel{
    margin-bottom: 19px;
    color: $black;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 120%;
    transition: color .4s ease;

    &:hover{
      color:$dark-grey;
    }

  }
}