@import '../../../../src/style/variables';

.hamburger{
  display: none;
  position: relative;
  text-align: center;

  @media screen and (max-width:1549.99px)  {
    display: block;
  }
}

.icon__menu{
  display: block;
  width: 3.9rem;
  height: 2.7rem;
  position: relative;
  background-color: #FFF;

  > span,
  &::before,
  &::after {
    content: '';
    right: 0;
    position: absolute;
    width: 100%;
    height: .3rem;
    background-color: #686466;
    z-index: 9999;
    transition: all .4s ease;
  }

  &::before{
    top: 0;
  }

  &::after{
    bottom: 0;
  }

  > span{
    top:calc(50% - 0.15rem)
  }
}

.icon__menu_close {
  > span {
    width: 0;
  }

  &::before{
    top:calc(50% - 0.15rem);
    transform: rotate(-45deg);
  }

  &::after{
    bottom:calc(50% - 0.15rem);
    transform: rotate(45deg);
  }
}

.hamburger__menu{
  position: absolute;
  top: 6rem;
  right: 2rem;
  padding: 1.9rem 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0.4rem 3.8rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index:100;

  > button {
    display: none;
  }

  > a{
    display: none;
  }


  @media screen and (max-width: 767.98px) {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $yellow;
    padding: 6.5rem 0 3.1rem;
  }


  .tel{
    margin-bottom: 1.9rem;
    color: $black;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.2rem;
    transition: color .4s ease;

    &:hover{
      color:$dark-grey;
    }
  }
}