@import '../../../style/animations';
@import '../../../style/variables';


.wrapper {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  padding: 0 22rem;
  text-align: center;

  @media screen and (max-width: 1549.98px){
    padding: 0 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 767.98px){
    padding: 0 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.error__code {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  @media screen and (max-width: 767.98px){
    margin-bottom: 1rem;
  }

  > span {
    font-size: 20rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: $yellow;

    @media screen and (max-width: 767.98px){
      font-size: 12rem;
      line-height: 15rem;
    }
  }

  span:first-of-type {
    margin-right: 3rem;

    @media screen and (max-width: 1549.98px){
      margin-right: 1.5rem;
    }

    @media screen and (max-width: 767.98px){
      margin-right: .8rem;
    }
  }

  span:last-of-type {
    margin-left: 3rem;

    @media screen and (max-width: 1549.98px){
      margin-left: 1.5rem;
    }

    @media screen and (max-width: 767.98px){
      margin-left: .8rem;
    }
  }
}

.pizza {
  height: 30rem;
  object-fit: cover;
  animation-name: rotation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @media screen and (max-width: 1549.98px){
    height: 20rem;
  }

  @media screen and (max-width: 767.98px){
    height: 12rem;
  }
}

.title {
  color:$black;
  font-size: 3rem;
  line-height: 3.5rem;

  span {
    color: $yellow;
  }

  @media screen and (max-width: 767.98px){
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
}