.first__slider {
  background-image: url("../../images/homepage/slide-odd-bg.png");
}

.second__slider {
  background-image: url("../../images/homepage/slide-even-bg.png");
}

.third__slider {
  background-image: url("../../images/homepage/slide-odd-bg.png");
}

.fourth__slider {
  background-image: url("../../images/homepage/slide-even-bg.png");
}
