@import '../../../src/style/variables';

.category__section {
  margin-top: 40px;
  padding: 0 220px;
}

.category__title {
  margin-bottom: 26px;
  color: $yellow;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 3.9rem;
}

.category__list{
  display: flex;
  flex-wrap: wrap;
}